config.json

*.py[cod]
venv/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Sphinx
docs/_build
docs/md/
.cache/
.eggs/
.mypy_cache
.venv/
.pytest_cache/
pip-wheel-metadata
/.env
