include *.md LICENSE requirements*.txt config-sample.json
exclude config.json TODO.md

graft src
graft extras
recursive-include docs *.md *.rst conf.py Makefile

prune docs/md

global-exclude *.py[co] *.swp __pycache__/* *.egg-info/*
