include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include config-sample.json
exclude config.json

graft src
recursive-include docs *.md *.rst conf.py Makefile

prune docs/md

global-exclude *.py[co]
global-exclude *.swp
global-exclude __pycache__/*
