[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
recommonmark = "*"
twine = "*"
sphinx_rtd_theme = "*"
Sphinx = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"
httpbin = "*"
mypy = "*"
"pep8-naming" = "*"
pylint = "*"
pytest = "*"
requests = "*"
tox = "*"

[requires]
python_version = "3.6"
