-i https://pypi.python.org/simple
alabaster==0.7.10
astroid==1.6.3
attrs==18.1.0
babel==2.5.3
blinker==1.4
brotlipy==0.7.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
commonmark==0.5.4
decorator==4.3.0
docutils==0.14
flake8-docstrings==1.3.0
flake8-import-order==0.17.1
flake8-polyfill==1.0.2
flake8==3.5.0
flask==1.0.2
httpbin==0.7.0
idna==2.6
imagesize==1.0.0
isort==4.3.4
itsdangerous==0.24
jinja2==2.10
lazy-object-proxy==1.3.1
markupsafe==1.0
mccabe==0.6.1
more-itertools==4.1.0
mypy==0.600
packaging==17.1
pep8-naming==0.6.1
pkginfo==1.4.2
pluggy==0.6.0
py==1.5.3
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
pygments==2.2.0
pylint==1.8.4
pyparsing==2.2.0
pytest==3.5.1
pytz==2018.4
raven==6.7.0
recommonmark==0.4.0
requests-toolbelt==0.8.0
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.3.1
sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
tox==3.0.0
tqdm==4.23.3
twine==1.11.0
typed-ast==1.1.0
urllib3==1.22
virtualenv==15.2.0
werkzeug==0.14.1
wrapt==1.10.11
